* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
}
body {
  width: 100vw;
  height: 100vh;
  background: url(image/sky.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
}
main {
  width: 400px;
  height: 385px;
  background: rgba(235, 228, 228, 0.2);
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  padding: 10px 30px;
}
main div {
  width: 100%;
  height: 55px;
}
main div.sign-in {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 30px;
}
main div.email,
main div.pwd {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #fff;
  position: relative;
  overflow: hidden;
}
main div.email:hover::after,
main div.pwd:hover::after {
  transform: translateX(100%);
}
main div.email::after,
main div.pwd::after {
  content: '';
  width: 340px;
  height: 2px;
  position: absolute;
  left: 0;
  bottom: 0;
  background: linear-gradient(to right, white, #1abc9c, #f1c40f, #e74c3c, white);
  transform: translateX(-100%);
  transition: 1s;
}
main div.email input,
main div.pwd input {
  height: 30px;
  border: none;
  outline: none;
  background: transparent;
  color: #fff;
  font-size: 16px;
  text-indent: 10px;
}
main div.email input::placeholder,
main div.pwd input::placeholder {
  color: #fff;
}
main div.email div.email-img,
main div.pwd div.email-img,
main div.email div.pwd-img,
main div.pwd div.pwd-img {
  width: 55px;
  height: 55px;
}
main div.email div.email-img img,
main div.pwd div.email-img img,
main div.email div.pwd-img img,
main div.pwd div.pwd-img img {
  height: 100%;
}
main div.forget-pwd {
  position: relative;
}
main div.forget-pwd a {
  display: inline-block;
  padding-top: 5px;
  font-size: 10px;
  color: #fff;
}
main div.login-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}
main div.login-btn button {
  flex: 1;
  height: 45px;
  font-size: 20px;
  border-radius: 5px;
  outline: none;
  background-color: #40a3d1;
  border: none;
  color: #fff;
  cursor: pointer;
}
main div.keep-log-in {
  position: relative;
  font-size: 15px;
  color: #fff;
}
main div.keep-log-in span {
  display: inline-block;
  margin-top: 5px;
  width: 12px;
  height: 12px;
  border: 1px solid #fff;
}
main div.sign-in-with {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
main div.sign-in-with div {
  display: flex;
  align-items: center;
  color: #fff;
  font-size: 16px;
}
main div.sign-in-with a {
  color: #fff;
}
main div.sign-in-with div.sign-in-pic {
  width: 150px;
  height: 50px;
  display: flex;
  background: rgba(255, 255, 255, 0.1);
}
main div.sign-in-with div.sign-in-pic div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
}
main div.sign-in-with div.sign-in-pic div img {
  width: 80%;
  cursor: pointer;
}
